[submodule "lib/libbpf"]
	path = lib/libbpf
	url = https://github.com/xdp-project/libbpf.git
	ignore = dirty
[submodule "lib/xdp-tools"]
	path = lib/xdp-tools
	url = https://github.com/xdp-project/xdp-tools
	ignore = dirty
[submodule "lib/libact"]
	path = lib/libact
	url = https://github.com/intel-sandbox/libact/
